EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCgaOErtKC-j27Vabd8KMBLZoOzb3NYFbc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=cashmind-fime.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=cashmind-fime
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=cashmind-fime.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=138607614135
EXPO_PUBLIC_FIREBASE_APP_ID=1:138607614135:web:4e4f77db1ef1c7f1881532